* {
  box-sizing: border-box;
  color: black;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  float: none;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #b0e079;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1110661), 0px 1px 3px rgba(0, 0, 0, 0.24);
}
::-webkit-scrollbar-thumb {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
  background: #4b8125;
}
.mainWindow {
  display: flex;
  width: 100vw;
}
.mainWindow .navBar {
  flex-basis: 20%;
  background-color: #CDDC39;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainWindow .navBar .recipeHeader {
  flex-basis: 5%;
  text-align: center;
  padding: 3px 0;
  margin: 5px;
  color: black;
  font-family: 'Playball';
  font-size: 3.5vh;
  background-color: #558B2F;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.mainWindow .navBar .searchWidget {
  flex-basis: 5%;
  display: flex;
}
.mainWindow .navBar .searchWidget input.searchListTextBox {
  margin: 5px;
  flex-basis: 80%;
}
.mainWindow .navBar .searchWidget button[name="clearSearchField"] {
  margin: 2px;
  flex-basis: 20%;
}
.mainWindow .navBar .recipeList {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
  margin: 5px;
  margin-left: 5px;
  padding-top: 10px;
  background-color: #5f9539;
  flex-basis: 90%;
  overflow-y: auto;
}
.mainWindow .navBar .recipeList .listWrapper > li {
  cursor: default;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 4px;
  font-family: 'Playball';
  text-align: center;
}
.mainWindow .navBar .recipeList ul {
  -webkit-padding-start: 10px;
}
.mainWindow .navBar .recipeList .listWrapper ul > li {
  padding-top: 1px;
  padding-left: 2px;
}
.mainWindow .navBar .recipeList .listWrapper ul > li .listEntry {
  padding: 1px 0;
  width: 90%;
  display: inline-block;
  font-size: 17px;
}
.mainWindow .navBar .recipeList .listWrapper ul > li .listEntry:hover {
  background-color: #50862a;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1110661), 0px 1px 3px rgba(0, 0, 0, 0.24);
}
.mainWindow .navBar .recipeList .listWrapper ul > li #activeEntry {
  background-color: #1e5400;
  color: ghostwhite;
}
.mainWindow .navBar .recipeList .listWrapper ul > li input[type="checkbox"]:checked ~ .listEntry {
  background-color: #467c20;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1221322), 0px 2px 4px rgba(0, 0, 0, 0.24);
}
.mainWindow .navBar .recipeList ul {
  list-style: none;
  cursor: pointer;
}
.mainWindow .recipeView,
.mainWindow .profilePage {
  flex-basis: 60%;
  background-color: #CDDC39;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainWindow .recipeView .accountBar,
.mainWindow .profilePage .accountBar {
  background-color: #9CCC65;
  display: flex;
  flex-direction: row;
  flex-basis: 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
  margin: 5px;
}
.mainWindow .recipeView .accountBar .userNameHeader,
.mainWindow .profilePage .accountBar .userNameHeader {
  flex-basis: 80%;
  padding: 3px 5px 5px 5px;
  font-size: 3.5vh;
}
.mainWindow .recipeView .accountBar .goToProfileButton,
.mainWindow .profilePage .accountBar .goToProfileButton,
.mainWindow .recipeView .accountBar .logoutButton,
.mainWindow .profilePage .accountBar .logoutButton {
  flex-basis: 20%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13319829), 0px 2px 6px rgba(0, 0, 0, 0.24);
  font-size: 3.5vh;
}
.mainWindow .recipeView .accountBar .goToProfileButton .symbolWrapper,
.mainWindow .profilePage .accountBar .goToProfileButton .symbolWrapper,
.mainWindow .recipeView .accountBar .logoutButton .symbolWrapper,
.mainWindow .profilePage .accountBar .logoutButton .symbolWrapper,
.mainWindow .recipeView .accountBar .goToProfileButton .symbolWrapperIndex,
.mainWindow .profilePage .accountBar .goToProfileButton .symbolWrapperIndex,
.mainWindow .recipeView .accountBar .logoutButton .symbolWrapperIndex,
.mainWindow .profilePage .accountBar .logoutButton .symbolWrapperIndex {
  letter-spacing: 2px;
  font-family: 'Playball';
  padding-top: 1px;
  text-align: center;
  cursor: pointer;
  background-color: #053b00;
  color: ghostwhite;
  height: 100%;
  width: 100%;
}
.mainWindow .recipeView .accountBar .goToProfileButton .symbolWrapper:hover,
.mainWindow .profilePage .accountBar .goToProfileButton .symbolWrapper:hover,
.mainWindow .recipeView .accountBar .logoutButton .symbolWrapper:hover,
.mainWindow .profilePage .accountBar .logoutButton .symbolWrapper:hover,
.mainWindow .recipeView .accountBar .goToProfileButton .symbolWrapperIndex:hover,
.mainWindow .profilePage .accountBar .goToProfileButton .symbolWrapperIndex:hover,
.mainWindow .recipeView .accountBar .logoutButton .symbolWrapperIndex:hover,
.mainWindow .profilePage .accountBar .logoutButton .symbolWrapperIndex:hover {
  background-color: #194f00;
}
.mainWindow .recipeView .accountBar .goToStartButton,
.mainWindow .profilePage .accountBar .goToStartButton {
  flex-basis: 10%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13319829), 0px 2px 6px rgba(0, 0, 0, 0.24);
}
.mainWindow .recipeView .accountBar .goToStartButton .symbolWrapper,
.mainWindow .profilePage .accountBar .goToStartButton .symbolWrapper {
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  padding: 10%;
  background-color: #053b00;
  color: ghostwhite;
  height: 100%;
  width: 100%;
}
.mainWindow .recipeView .recipeExplanation,
.mainWindow .profilePage .recipeExplanation {
  overflow-y: auto;
  flex-basis: 95%;
  background-color: #9CCC65;
  margin: 5px;
  padding: 5px;
  flex-direction: column;
}
.mainWindow .recipeView .recipeExplanation .recipeNameHeader,
.mainWindow .profilePage .recipeExplanation .recipeNameHeader {
  display: flex;
  flex-direction: row;
}
.mainWindow .recipeView .recipeExplanation .recipeNameHeader .h1Wrapper,
.mainWindow .profilePage .recipeExplanation .recipeNameHeader .h1Wrapper {
  flex-basis: 80%;
  text-align: center;
  font-size: 26px;
  letter-spacing: 6px;
}
.mainWindow .recipeView .recipeExplanation .recipeNameHeader .h1Wrapper h1,
.mainWindow .profilePage .recipeExplanation .recipeNameHeader .h1Wrapper h1 {
  font-family: 'Playball';
}
.mainWindow .recipeView .recipeExplanation .recipeNameHeader button,
.mainWindow .profilePage .recipeExplanation .recipeNameHeader button {
  visibility: hidden;
  flex-basis: 20%;
  height: 50px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText {
  line-height: 1.6;
  display: flex;
  padding-top: 5px;
  padding-bottom: 15px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .ingredients,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .ingredients {
  flex-basis: 50%;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .ingredients h2,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .ingredients h2 {
  padding-bottom: 5px;
  padding-left: 5px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .ingredients .ingredientList,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .ingredients .ingredientList {
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .ingredients .ingredientList .ingredientItem,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .ingredients .ingredientList .ingredientItem {
  flex-basis: 50%;
  width: 50%;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .nutrition,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .nutrition {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .nutrition h2,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .nutrition h2 {
  padding-bottom: 5px;
  padding-left: 5px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .nutrition .nutritionalFacts,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .nutrition .nutritionalFacts {
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .nutrition .nutritionalFacts .nutrionInformation,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .nutrition .nutritionalFacts .nutrionInformation {
  flex-basis: 50%;
  width: 50%;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeSteps,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeSteps {
  padding: 10px 20px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeSteps li,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeSteps li {
  padding-bottom: 15px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeSteps li::before,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeSteps li::before {
  content: "• ";
  color: black;
}
.mainWindow .recipeView .recipeExplanation .commentSection,
.mainWindow .profilePage .recipeExplanation .commentSection {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.mainWindow .recipeView .recipeExplanation .commentSection .commentCreator,
.mainWindow .profilePage .recipeExplanation .commentSection .commentCreator {
  flex-basis: 10%;
  display: flex;
}
.mainWindow .recipeView .recipeExplanation .commentSection .commentCreator input,
.mainWindow .profilePage .recipeExplanation .commentSection .commentCreator input {
  margin: 10px;
  padding: 10px;
  flex-basis: 85%;
}
.mainWindow .recipeView .recipeExplanation .commentSection .commentCreator button[name="sendCommentButton"],
.mainWindow .profilePage .recipeExplanation .commentSection .commentCreator button[name="sendCommentButton"] {
  flex-basis: 15%;
  margin: 10px 0;
}
.mainWindow .recipeView .recipeExplanation .commentSection .comments,
.mainWindow .profilePage .recipeExplanation .commentSection .comments {
  flex-basis: 90%;
}
.mainWindow .recipeView .recipeExplanation .commentSection .comments .comment,
.mainWindow .profilePage .recipeExplanation .commentSection .comments .comment {
  padding: 5px 20px;
}
.mainWindow .recipeView .recipeExplanation .commentSection .comments .comment h4,
.mainWindow .profilePage .recipeExplanation .commentSection .comments .comment h4 {
  margin-bottom: 5px;
}
.mainWindow .recipeView .recipeExplanation .commentSection .comments .comment p,
.mainWindow .profilePage .recipeExplanation .commentSection .comments .comment p {
  padding: 0 15px;
  transform: translateX(10px);
}
.mainWindow .ingredientsList {
  flex-basis: 20%;
  background-color: #CDDC39;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainWindow .ingredientsList h1 {
  flex-basis: 5%;
  background-color: #558B2F;
  text-align: center;
  padding: 5px;
  font-family: 'Playball';
  font-size: 3.5vh;
  letter-spacing: 2px;
  margin: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.mainWindow .ingredientsList .toBuyList {
  padding: 5px 0;
  margin: 5px;
  list-style: none;
  overflow-y: auto;
  flex-basis: 90%;
  background-color: #558B2F;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.mainWindow .ingredientsList .toBuyList li {
  list-style: none;
  font-size: 1.25em;
}
.mainWindow .ingredientsList .exportWidget {
  flex-basis: 5%;
  padding: 0 3px 3px 2px;
  margin: 2px 2px 4px 3px;
}
.mainWindow .ingredientsList .exportWidget button[name="exportButton"] {
  width: 100%;
}
button {
  flex-basis: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
  padding: 8px;
  border: none;
  color: ghostwhite;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}
button:hover:not(:disabled) {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.18852878), 0px 5px 16px rgba(0, 0, 0, 0.23);
}
button:active {
  transform: translate3d(1px, 1px, 0);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
}
[name="clearSearchField"] {
  background-color: green;
}
[name="clearSearchField"]:hover {
  background-color: #149414;
}
[name="clearSearchField"]:active {
  background-color: #0a8a0a;
}
[name="addToFavourites"] {
  background-color: darkorange;
}
[name="addToFavourites"]:hover {
  background-color: #ffa014;
}
[name="addToFavourites"]:active {
  background-color: #ff960a;
}
[name="removeFromFavourites"] {
  background-color: #B71C1C;
}
[name="removeFromFavourites"]:hover {
  background-color: #cb3030;
}
[name="removeFromFavourites"]:active {
  background-color: #c12626;
}
[name="exportButton"] {
  background-color: rebeccapurple;
}
[name="exportButton"]:hover {
  background-color: #7a47ad;
}
[name="exportButton"]:active {
  background-color: #703da3;
}
[name="sendCommentButton"] {
  background-color: #023877;
}
[name="sendCommentButton"]:disabled {
  background-color: grey;
}
[name="sendCommentButton"]:hover:not(:disabled) {
  background-color: #164c8b;
}
[name="sendCommentButton"]:active {
  background-color: #0c4281;
}
[name="searchWidgetButton"] {
  background-color: darkorange;
}
[name="searchWidgetButton"]:hover {
  background-color: #ffa014;
}
[name="searchWidgetButton"]:active {
  background-color: #ff960a;
}
[name="wordAdderButton"] {
  background-color: #023877;
}
[name="wordAdderButton"]:hover {
  background-color: #164c8b;
}
[name="wordAdderButton"]:active {
  background-color: #0c4281;
}
[name="deleteListItem"] {
  background-color: #B71C1C;
}
[name="deleteListItem"]:hover {
  background-color: #cb3030;
}
[name="deleteListItem"]:active {
  background-color: #c12626;
}
input[type="text"] {
  outline: none;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
  padding: 5px;
  font-size: 16px;
}
input[type="text"]:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16639659), 0px 4px 12px rgba(0, 0, 0, 0.23);
}
input[type="text"]:focus {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.18852878), 0px 5px 16px rgba(0, 0, 0, 0.23);
}
.loginMain {
  width: 100vw;
  height: 100vh;
  background-color: #558B2F;
  display: flex;
  flex-direction: column;
}
.loginMain .upDiv,
.loginMain .downDiv {
  flex-basis: 20%;
  width: 100vw;
}
.loginMain .upDiv h1,
.loginMain .downDiv h1 {
  font-family: 'Playball';
  font-size: 12vh;
  letter-spacing: 2px;
  color: black;
  padding-top: 20px;
  text-align: center;
}
.loginMain .loginWindow {
  flex-basis: 60%;
  flex-direction: row;
  display: flex;
}
.loginMain .loginWindow .login {
  flex-direction: column;
  display: flex;
  flex-basis: 70%;
  background-color: #CDDC39;
  padding: 3% 2%;
}
.loginMain .loginWindow .login input {
  font-size: 6vh;
  flex-basis: 40%;
  padding: 2% 2%;
  margin: 2% 5%;
}
.loginMain .loginWindow .login button {
  font-size: 4vh;
  padding: 5px;
  margin: 0 auto;
  display: block;
  width: 200px;
  min-width: 60px;
  max-width: 300px;
  flex-basis: 20%;
  background-color: darkcyan;
}
.loginMain .loginWindow .leftDiv,
.loginMain .loginWindow.rightDiv {
  flex-basis: 15%;
}
.mainWindow .profilePage {
  display: flex;
  flex-direction: column;
}
.mainWindow .profilePage .fridgeView {
  flex-basis: 50%;
  background-color: #558B2F;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.mainWindow .profilePage .fridgeView h4 {
  flex-basis: 15%;
  font-family: 'Playball';
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 4px;
  padding: 5px;
  margin-left: 5px;
}
.mainWindow .profilePage .fridgeView .fridgeList {
  flex-basis: 85%;
  overflow-y: auto;
  padding: 2px 0;
  user-select: none;
}
.mainWindow .profilePage .fridgeView .fridgeList .fridgeItem {
  margin-right: 3px;
  padding: 2px 5px;
  background-color: #5f9539;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13319829), 0px 2px 6px rgba(0, 0, 0, 0.24);
  width: 32.9%;
  display: inline-block;
  cursor: pointer;
}
.mainWindow .profilePage .fridgeView .fridgeList .fridgeItem:hover {
  background-color: #5a9034;
}
.mainWindow .profilePage .fridgeView .fridgeList .fridgeItem .fridgeDescription {
  cursor: pointer;
}
.mainWindow .profilePage .recommendationView {
  flex-basis: 45%;
  background-color: #558B2F;
  margin: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.mainWindow .profilePage .recommendationView h4 {
  font-family: 'Playball';
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 4px;
  padding: 5px;
  margin-left: 5px;
}
.mainWindow .profilePage .recommendationView .recEntryWrapper {
  height: 90%;
  overflow-y: auto;
}
.mainWindow .profilePage .recommendationView .recEntryWrapper .recEntry {
  background-color: #5f9539;
  padding: 5px;
  padding-left: 10px;
  margin: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1110661), 0px 1px 3px rgba(0, 0, 0, 0.24);
}
body .printWindow {
  overflow: auto;
  margin: 0 10%;
  font-size: 30px;
}
body .printWindow .headerContainer h1 {
  padding: 10px 0 20px 0;
  text-decoration: underline;
  text-align: center;
  font-family: 'Playball';
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 4px;
}
body .printWindow .groceryListWrapper ul li {
  text-align: center;
}
/* latin-ext */
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), 'TK3gWksYAxQ7jbsKcg8Knep_Kg.woff2' format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), '/TK3gWksYAxQ7jbsKcg8Eneo.woff2' format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  box-sizing: border-box;
  color: black;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  float: none;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #b0e079;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1110661), 0px 1px 3px rgba(0, 0, 0, 0.24);
}
::-webkit-scrollbar-thumb {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
  background: #4b8125;
}
.mainWindow {
  display: flex;
  width: 100vw;
}
.mainWindow .navBar {
  flex-basis: 20%;
  background-color: #CDDC39;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainWindow .navBar .recipeHeader {
  flex-basis: 5%;
  text-align: center;
  padding: 3px 0;
  margin: 5px;
  color: black;
  font-family: 'Playball';
  font-size: 3.5vh;
  background-color: #558B2F;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.mainWindow .navBar .searchWidget {
  flex-basis: 5%;
  display: flex;
}
.mainWindow .navBar .searchWidget input.searchListTextBox {
  margin: 5px;
  flex-basis: 80%;
}
.mainWindow .navBar .searchWidget button[name="clearSearchField"] {
  margin: 2px;
  flex-basis: 20%;
}
.mainWindow .navBar .recipeList {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
  margin: 5px;
  margin-left: 5px;
  padding-top: 10px;
  background-color: #5f9539;
  flex-basis: 90%;
  overflow-y: auto;
}
.mainWindow .navBar .recipeList .listWrapper > li {
  cursor: default;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 4px;
  font-family: 'Playball';
  text-align: center;
}
.mainWindow .navBar .recipeList ul {
  -webkit-padding-start: 10px;
}
.mainWindow .navBar .recipeList .listWrapper ul > li {
  padding-top: 1px;
  padding-left: 2px;
}
.mainWindow .navBar .recipeList .listWrapper ul > li .listEntry {
  padding: 1px 0;
  width: 90%;
  display: inline-block;
  font-size: 17px;
}
.mainWindow .navBar .recipeList .listWrapper ul > li .listEntry:hover {
  background-color: #50862a;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1110661), 0px 1px 3px rgba(0, 0, 0, 0.24);
}
.mainWindow .navBar .recipeList .listWrapper ul > li #activeEntry {
  background-color: #1e5400;
  color: ghostwhite;
}
.mainWindow .navBar .recipeList .listWrapper ul > li input[type="checkbox"]:checked ~ .listEntry {
  background-color: #467c20;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1221322), 0px 2px 4px rgba(0, 0, 0, 0.24);
}
.mainWindow .navBar .recipeList ul {
  list-style: none;
  cursor: pointer;
}
.mainWindow .recipeView,
.mainWindow .profilePage {
  flex-basis: 60%;
  background-color: #CDDC39;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainWindow .recipeView .accountBar,
.mainWindow .profilePage .accountBar {
  background-color: #9CCC65;
  display: flex;
  flex-direction: row;
  flex-basis: 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
  margin: 5px;
}
.mainWindow .recipeView .accountBar .userNameHeader,
.mainWindow .profilePage .accountBar .userNameHeader {
  flex-basis: 80%;
  padding: 3px 5px 5px 5px;
  font-size: 3.5vh;
}
.mainWindow .recipeView .accountBar .goToProfileButton,
.mainWindow .profilePage .accountBar .goToProfileButton,
.mainWindow .recipeView .accountBar .logoutButton,
.mainWindow .profilePage .accountBar .logoutButton {
  flex-basis: 20%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13319829), 0px 2px 6px rgba(0, 0, 0, 0.24);
  font-size: 3.5vh;
}
.mainWindow .recipeView .accountBar .goToProfileButton .symbolWrapper,
.mainWindow .profilePage .accountBar .goToProfileButton .symbolWrapper,
.mainWindow .recipeView .accountBar .logoutButton .symbolWrapper,
.mainWindow .profilePage .accountBar .logoutButton .symbolWrapper,
.mainWindow .recipeView .accountBar .goToProfileButton .symbolWrapperIndex,
.mainWindow .profilePage .accountBar .goToProfileButton .symbolWrapperIndex,
.mainWindow .recipeView .accountBar .logoutButton .symbolWrapperIndex,
.mainWindow .profilePage .accountBar .logoutButton .symbolWrapperIndex {
  letter-spacing: 2px;
  font-family: 'Playball';
  padding-top: 1px;
  text-align: center;
  cursor: pointer;
  background-color: #053b00;
  color: ghostwhite;
  height: 100%;
  width: 100%;
}
.mainWindow .recipeView .accountBar .goToProfileButton .symbolWrapper:hover,
.mainWindow .profilePage .accountBar .goToProfileButton .symbolWrapper:hover,
.mainWindow .recipeView .accountBar .logoutButton .symbolWrapper:hover,
.mainWindow .profilePage .accountBar .logoutButton .symbolWrapper:hover,
.mainWindow .recipeView .accountBar .goToProfileButton .symbolWrapperIndex:hover,
.mainWindow .profilePage .accountBar .goToProfileButton .symbolWrapperIndex:hover,
.mainWindow .recipeView .accountBar .logoutButton .symbolWrapperIndex:hover,
.mainWindow .profilePage .accountBar .logoutButton .symbolWrapperIndex:hover {
  background-color: #194f00;
}
.mainWindow .recipeView .accountBar .goToStartButton,
.mainWindow .profilePage .accountBar .goToStartButton {
  flex-basis: 10%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13319829), 0px 2px 6px rgba(0, 0, 0, 0.24);
}
.mainWindow .recipeView .accountBar .goToStartButton .symbolWrapper,
.mainWindow .profilePage .accountBar .goToStartButton .symbolWrapper {
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  padding: 10%;
  background-color: #053b00;
  color: ghostwhite;
  height: 100%;
  width: 100%;
}
.mainWindow .recipeView .recipeExplanation,
.mainWindow .profilePage .recipeExplanation {
  overflow-y: auto;
  flex-basis: 95%;
  background-color: #9CCC65;
  margin: 5px;
  padding: 5px;
  flex-direction: column;
}
.mainWindow .recipeView .recipeExplanation .recipeNameHeader,
.mainWindow .profilePage .recipeExplanation .recipeNameHeader {
  display: flex;
  flex-direction: row;
}
.mainWindow .recipeView .recipeExplanation .recipeNameHeader .h1Wrapper,
.mainWindow .profilePage .recipeExplanation .recipeNameHeader .h1Wrapper {
  flex-basis: 80%;
  text-align: center;
  font-size: 26px;
  letter-spacing: 6px;
}
.mainWindow .recipeView .recipeExplanation .recipeNameHeader .h1Wrapper h1,
.mainWindow .profilePage .recipeExplanation .recipeNameHeader .h1Wrapper h1 {
  font-family: 'Playball';
}
.mainWindow .recipeView .recipeExplanation .recipeNameHeader button,
.mainWindow .profilePage .recipeExplanation .recipeNameHeader button {
  visibility: hidden;
  flex-basis: 20%;
  height: 50px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText {
  line-height: 1.6;
  display: flex;
  padding-top: 5px;
  padding-bottom: 15px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .ingredients,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .ingredients {
  flex-basis: 50%;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .ingredients h2,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .ingredients h2 {
  padding-bottom: 5px;
  padding-left: 5px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .ingredients .ingredientList,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .ingredients .ingredientList {
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .ingredients .ingredientList .ingredientItem,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .ingredients .ingredientList .ingredientItem {
  flex-basis: 50%;
  width: 50%;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .nutrition,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .nutrition {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .nutrition h2,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .nutrition h2 {
  padding-bottom: 5px;
  padding-left: 5px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .nutrition .nutritionalFacts,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .nutrition .nutritionalFacts {
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeText .nutrition .nutritionalFacts .nutrionInformation,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeText .nutrition .nutritionalFacts .nutrionInformation {
  flex-basis: 50%;
  width: 50%;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeSteps,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeSteps {
  padding: 10px 20px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeSteps li,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeSteps li {
  padding-bottom: 15px;
}
.mainWindow .recipeView .recipeExplanation .recipeDetails .recipeSteps li::before,
.mainWindow .profilePage .recipeExplanation .recipeDetails .recipeSteps li::before {
  content: "• ";
  color: black;
}
.mainWindow .recipeView .recipeExplanation .commentSection,
.mainWindow .profilePage .recipeExplanation .commentSection {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.mainWindow .recipeView .recipeExplanation .commentSection .commentCreator,
.mainWindow .profilePage .recipeExplanation .commentSection .commentCreator {
  flex-basis: 10%;
  display: flex;
}
.mainWindow .recipeView .recipeExplanation .commentSection .commentCreator input,
.mainWindow .profilePage .recipeExplanation .commentSection .commentCreator input {
  margin: 10px;
  padding: 10px;
  flex-basis: 85%;
}
.mainWindow .recipeView .recipeExplanation .commentSection .commentCreator button[name="sendCommentButton"],
.mainWindow .profilePage .recipeExplanation .commentSection .commentCreator button[name="sendCommentButton"] {
  flex-basis: 15%;
  margin: 10px 0;
}
.mainWindow .recipeView .recipeExplanation .commentSection .comments,
.mainWindow .profilePage .recipeExplanation .commentSection .comments {
  flex-basis: 90%;
}
.mainWindow .recipeView .recipeExplanation .commentSection .comments .comment,
.mainWindow .profilePage .recipeExplanation .commentSection .comments .comment {
  padding: 5px 20px;
}
.mainWindow .recipeView .recipeExplanation .commentSection .comments .comment h4,
.mainWindow .profilePage .recipeExplanation .commentSection .comments .comment h4 {
  margin-bottom: 5px;
}
.mainWindow .recipeView .recipeExplanation .commentSection .comments .comment p,
.mainWindow .profilePage .recipeExplanation .commentSection .comments .comment p {
  padding: 0 15px;
  transform: translateX(10px);
}
.mainWindow .ingredientsList {
  flex-basis: 20%;
  background-color: #CDDC39;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainWindow .ingredientsList h1 {
  flex-basis: 5%;
  background-color: #558B2F;
  text-align: center;
  padding: 5px;
  font-family: 'Playball';
  font-size: 3.5vh;
  letter-spacing: 2px;
  margin: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.mainWindow .ingredientsList .toBuyList {
  padding: 5px 0;
  margin: 5px;
  list-style: none;
  overflow-y: auto;
  flex-basis: 90%;
  background-color: #558B2F;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14426439), 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.mainWindow .ingredientsList .toBuyList li {
  list-style: none;
  font-size: 1.25em;
}
.mainWindow .ingredientsList .exportWidget {
  flex-basis: 5%;
  padding: 0 3px 3px 2px;
  margin: 2px 2px 4px 3px;
}
.mainWindow .ingredientsList .exportWidget button[name="exportButton"] {
  width: 100%;
}
