// out: false

@mainDark:  #558B2F;
@mainNormal: #CDDC39;
@mainLight:#9CCC65;

@fontColorDark: black;
@fontColorLight: ghostwhite;

@buttonClearSearchField: green;
@buttonExport: rebeccapurple;
@buttonAddToFavourites: darkorange;
@buttonRemoveFromFavourites: #B71C1C;
@buttonSendComment: rgb(2, 56, 119);
@wordAdderButton: rgb(2, 56, 119);
@searchWidgetButton:darkorange;
@deleteListItem: #B71C1C;
